body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333333;
}

section a {
    text-decoration: none;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    transition: background-color 0.2s, box-shadow 0.2s;
}

a article:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #bdbdbd;
}

article h3 {
    color: #333333;
}

article p {
    color: #555333;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 800px; /* Adjust this to the desired width of the form */
    width: 100%; /* Ensure the form takes up the full width of its parent */
    margin: 0 auto; /* Center the form on the page */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}



textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: vertical;
    width: 100%; /* Makes it stretch to the full width of the parent */
    box-sizing: border-box; /* Includes padding and border in the width */
}



.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333333;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #333333;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s
}


button:hover {
    background-color: #555;
}

.like-button {
    width: 10%;
    align-items: center;
    gap: 8px; /* Space between the icon and count */
    padding: 8px 16px;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
    color: #555;
    user-select: none;
}

.like-button:hover {
    background-color: #e0e0e0;
}

.like-button.liked {
    background-color: #ffb9b9;
    color: #e74c3c;
    border-color: #e74c3c;
}

.form-footer {
    margin-top: 20px;
    font-size: 0.9rem;
}

.form-footer a {
    color: #333333;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.post-title {
    font-weight: bold;
    font-size: 2rem;
}

.post-author {
    font-style: italic;
    font-size: 1rem;
    color: #555;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li, tr, td, th {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
}

select {
    width: 100%;
}


